<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Movie?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit(); modal.dismiss('saved')">
        <button type="submit" class="btn btn-success">OK</button>
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('canceled')">Cancel</button>
    </form>
  </div>

</ng-template>

<button class="movie-btn" (click)="open(content)"><i class="fas fa-trash-alt"></i></button>
