<ng-template #errorpopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{getErrorMessage()}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="errorForm" (ngSubmit)="modal.dismiss('saved')">
        <button type="submit" class="btn btn-success">OK</button>
    </form>
  </div>

</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add a Movie</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit(); modal.dismiss('saved')">
      <div class="form-group">
        <label for="imdbID">ID</label>
        <div class="input-group">
          <input
          type="text"
          id="imdbID"
          class="form-control"
          formControlName="imdbID"
          [attr.disabled]="true">
        </div>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <div class="input-group">
          <input
          type="text"
          id="title"
          class="form-control"
          formControlName="title">
        </div>
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <div class="input-group">
          <input
          type="text"
          id="year"
          class="form-control"
          formControlName="year">
        </div>
      </div>
      <div class="form-group">
        <label for="runtime">Runtime</label>
        <div class="input-group">
          <input
          type="text"
          id="runtime"
          class="form-control"
          formControlName="runtime">
        </div>
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <div class="input-group">
          <select
            class="form-controle"
            type="text"
            id="genre"
            formControlName="genre">
            <option value="drama">Drama</option>
            <option value="sci-fi">Sci-fi</option>
            <option value="biography">Biography</option>
            <option value="crime">Crime</option>
            <option value="romance">Romance</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="director">Director</label>
        <div class="input-group">
          <input
          type="text"
          id="director"
          class="form-control"
          formControlName="director">
        </div>
      </div>
      <div class="form-group">
        <label for="poster">Poster</label>
        <div class="input-group">
          <input
          type="text"
          id="poster"
          class="form-control"
          placeholder="Enter a url"
          formControlName="poster">
        </div>
      </div>
        <div *ngIf="movieForm.valid">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
        <div *ngIf="!movieForm.valid">
          <button type="button" class="btn btn-success" (click)="open(errorpopup)">Save</button>
        </div>
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('canceled')">Cancel</button>
    </form>
  </div>

</ng-template>

<button class="movie-btn" (click)="open(content)"><i class="fas fa-edit"></i></button>
