<div class="row search-form">
  <div class="col-6">
    <form (ngSubmit)="onSearchSubmit()">
      <label for="search">Search</label>
      <input type="text" id="search" class="form-control"
            placeholder="ex: superman" [formControl]="searchForm">
      <button type="submit">Submit</button>
    </form>
    <p>{{error}}</p>
  </div>
  <div class="col-6 modal-div">
    <app-add-movie></app-add-movie>
  </div>
</div>

<div class="row" *ngFor="let movieItem of movies">
  <div class="col-12">
    <app-movie-item [movie]="movieItem"></app-movie-item>
  </div>
</div>
 <!--<div *ngFor="let movieItem of addedMovies">
    <app-movie-item [movie]="movieItem"></app-movie-item>
</div>-->

<!--<ng-template #searchResult>
    <app-movie-item [movie]="movies"></app-movie-item>
</ng-template>-->
