.search-form {
  width: 65vw;
  margin: 4vh auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
    .search-form {
      width: 90vw;
    }
}
.centered {
  padding: 0px;
}
form.search-form-input input[type=text] {
  font-size: 17px;
  border: 1px solid #DB5461;
  float: left;
  width: 70%;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(219, 84, 97, 0.2);
}

form.search-form-input button {
  float: left;
  width: 20%;
  padding: 6px 5px;
  background: #DB5461;
  color: white;
  font-size: 17px;
  border: 1px solid #DB5461;
  border-left: none;
  cursor: pointer;
  border-radius: 3px;
}
form.search-form-input::after {
  content: "";
  clear: both;
  display: table;
}
