<div class="row search-form">
  <div class="centered col-10 col-md-6">
    <form class="search-form-input" (ngSubmit)="onSearchSubmit()">
      <input type="text" id="search" class="form-control"
            placeholder="Search by keyword" [formControl]="searchForm">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <p>{{error}}</p>
  </div>
  <div class="centered col-2 col-md-6">
    <app-add-movie></app-add-movie>
  </div>
</div>

<div *ngFor="let movieItem of movies">
    <app-movie-item [movie]="movieItem"></app-movie-item>
</div>
