/* You can add global styles to this file, and also import other style files */
body {
  position: relative;
}
.modal {
margin-top: 55px;
z-index: 10040;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 600px;
    overflow-y: auto;
}
#modal-short-body {
  height: 70px;
}
