<div class="row movie-container">
  <div class="col-xs-12">

    <div class="col-md-2 col-xs-12">
      <img [src]="movie.imagePath" alt="{{movie.title}}" class="img-responsive" style="max-height: 200px; border-radius: 3px;">
    </div>

    <div class="col-md-10 col-xs-12">
      <div class="movie-details">
        <h1>{{movie.title}} ({{movie.year}})</h1>
        <p><em>{{movie.director}}</em></p>
        <p>{{movie.runtime}} min</p>
        <p>{{movie.genre}}</p>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Edit</button>
          <button class="btn btn-danger" type="button">Delete</button>
        </div>
      </div>
    </div>
    </div>

</div>
