<div class="row movie-container">
    <div class="col-12 col-md-3 col-centered">
      <img [src]="movie.poster" alt="{{movie.title}}" class="img-responsive"
            style="max-height: 200px; border-radius: 3px; max-width: 130px;">
    </div>

    <div class="col-12 col-md-9">
      <div class="movie-details">
        <h1>{{movie.title | removeSpecialChar | titlecase}} ({{movie.year}})</h1>
        <p><em>{{movie.director}}</em></p>
        <p id="runtime">{{movie.runtime}}</p>
        <p id="genre">{{movie.genre}}</p>
      </div>
      <div class="row">
        <div class="col-12 movie-options">
          <app-movie-edit [movie]="movie"></app-movie-edit>
          <app-delete-movie [movie]="movie"></app-delete-movie>
        </div>
      </div>
    </div>
</div>
